.header{
  background-color: white;
  .header-top {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: right;

    span{
      margin-right: 20px;
    }
  }

  .breadcrumb {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-top: 1px solid #f9c700;
  }
  .breadcrumb-title{
    text-align: center;
    font-size: 14px;
    &:after{
      position: absolute;
      content: '';
      left:73px;
      top:39px;
      border-top: 9px solid white;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
    }
    }
  .weather{
    text-align: right;
    .weather-title{
      margin-right: 20px;
    }
    .weather-img{
      img{
        height:18px;
      }
    }
    .weather-detial{
      margin-left: 5px;
      vertical-align: middle;
    }
  }
}